@import url(amatic.css);

slides slide.title-image h1 {
    font-family: 'AmaticSCBold', 'Open Sans Light Italic';
}

slides slide.title-image article > p {
    font-family: 'AmaticSCBold', sans-serif;
    font-weight: 500;
}
